.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader-box {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
}

.loader-box p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.loader {
  width: 300px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.bar {
  width: 0;
  height: 100%;
  background-color: #333;
  animation: load 2s infinite;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}